<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--查询留言接口-->
    <add key="apiUrl" value=""></add>
    <!--字幕行数-->
    <add key="rowCount" value="3"></add>
    <!--预测的弹幕速度   控制了弹幕的重叠状况-->
    <add key="reduceSpeed" value="0.5"></add>
    <!--字幕完成时间   数字越小弹幕速度越快-->
    <add key="initFinishTime" value="15"></add>
    <!--字体大小-->
    <add key="fontSize" value="50"></add>
    <!--弹幕总高度-->
    <add key="height" value="350"></add>
    <!--是否是开发者模式   测试用例-->
    <add key="isDevelopMode" value="true"></add>
    <!--颜色列表-->
    <add key="colors" value="255, 255, 255;0, 0, 0;0, 255, 0;0, 0, 255;0, 0, 102;0, 0, 204;153, 0, 0;153, 0, 102;153, 0, 204;0, 255, 102;0, 255, 204;153, 255, 0;153, 255, 102;153, 255, 204;255, 0, 0;102, 0, 102;102, 0, 204;255, 0, 102;255, 0, 204;102, 255, 102;102, 255, 204;255, 255, 0;255, 255, 102;255, 255, 204"></add>
  </appSettings>
</configuration>