<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--查询留言接口-->
    <add key="apiUrl" value=""></add>
    <!--字幕行数-->
    <add key="rowCount" value="3"></add>
    <!--预测的弹幕速度-->
    <add key="reduceSpeed" value="0.5"></add>
    <!--字幕完成时间-->
    <add key="initFinishTime" value="15"></add>
    <!--字体大小-->
    <add key="fontSize" value="50"></add>
    <!--弹幕总高度-->
    <add key="height" value="200"></add>
    <!--是否是开发者模式   测试用例-->
    <add key="isDevelopMode" value="true"></add>
  </appSettings>
</configuration>